$light-green: #46e46f;
$blue: #0b5aa2;
$table-header: #4caf50;
$table-row: #ddd;
$table-even: #f2f2f2;
$white: #fff;
$btn-color: #777;
$card-bg-1: #f403d1;
$card-bg-2: #64b5f6;
$card-bg-3: #f321d7;
$card-bg-4: #ffec61;
$card-bg-4: #ffec61;
$card-bg-5: #24ff72;
$card-bg-6: #9a4eff;
